@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");@import url("https://fonts.googleapis.com/css2?family=Bodoni%20Moda:wght@700;800;900&display=swap");* {
	padding: 0rem;
	margin: 0rem;
	border: 0rem;
}
*,
*::before,
*::after {
	box-sizing: border-box;
}
*::before,
*::after {
	display: inline-block;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1;
	scrollbar-gutter: stable;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
select,
option {
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
@font-face { 
	font-family: "iconfont"; 
	font-display: swap;
	src: url("../assets/fonts/iconfont.woff2?e3fb5a3735b790bacc78d329f3615f97") format("woff2"); 
} 
[class*="--icon-"]::before{
	font-family: iconfont; 
}
	[class*="--icon-youtube"]::before { 
		content: "\f101"; 
	} 
	[class*="--icon-twitter"]::before { 
		content: "\f102"; 
	} 
	[class*="--icon-swiper"]::before { 
		content: "\f103"; 
	} 
	[class*="--icon-shevron"]::before { 
		content: "\f104"; 
	} 
	[class*="--icon-search"]::before { 
		content: "\f105"; 
	} 
	[class*="--icon-quote"]::before { 
		content: "\f106"; 
	} 
	[class*="--icon-plus"]::before { 
		content: "\f107"; 
	} 
	[class*="--icon-phone"]::before { 
		content: "\f108"; 
	} 
	[class*="--icon-mail"]::before { 
		content: "\f109"; 
	} 
	[class*="--icon-location"]::before { 
		content: "\f10a"; 
	} 
	[class*="--icon-linkedin"]::before { 
		content: "\f10b"; 
	} 
	[class*="--icon-instagram"]::before { 
		content: "\f10c"; 
	} 
	[class*="--icon-icon14"]::before { 
		content: "\f10d"; 
	} 
	[class*="--icon-icon13"]::before { 
		content: "\f10e"; 
	} 
	[class*="--icon-icon12"]::before { 
		content: "\f10f"; 
	} 
	[class*="--icon-icon11"]::before { 
		content: "\f110"; 
	} 
	[class*="--icon-icon09"]::before { 
		content: "\f111"; 
	} 
	[class*="--icon-icon08"]::before { 
		content: "\f112"; 
	} 
	[class*="--icon-icon07"]::before { 
		content: "\f113"; 
	} 
	[class*="--icon-icon06"]::before { 
		content: "\f114"; 
	} 
	[class*="--icon-icon05"]::before { 
		content: "\f115"; 
	} 
	[class*="--icon-icon04"]::before { 
		content: "\f116"; 
	} 
	[class*="--icon-icon03"]::before { 
		content: "\f117"; 
	} 
	[class*="--icon-Icon02"]::before { 
		content: "\f118"; 
	} 
	[class*="--icon-icon010"]::before { 
		content: "\f119"; 
	} 
	[class*="--icon-Icon01"]::before { 
		content: "\f11a"; 
	} 
	[class*="--icon-facebook"]::before { 
		content: "\f11b"; 
	} 
	[class*="--icon-chevron"]::before { 
		content: "\f11c"; 
	} 
	[class*="--icon-arrowr"]::before { 
		content: "\f11d"; 
	} 


/* Generated by vite-plugin-svg-spritemap */
body {
  min-width: 20rem;
  color: rgb(133, 133, 133);
  font-family: "Poppins", "serif";
  font-size: 1.125rem;
  font-weight: 500;
}
[data-fls-scrolllock] body {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}
[class*=__container] {
  max-width: 87.5rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}/* Generated by vite-plugin-svg-spritemap */
.select {
  min-width: 0;
  position: relative;
}
.select__body {
  position: relative;
}
.select__title {
  color: inherit;
  text-align: left;
  background-color: #fff;
  cursor: pointer;
  width: 100%;
  border-radius: 0.25rem;
}
.select__value {
  display: flex;
  min-width: 0;
  align-items: center;
  height: 1.875rem;
}
.select__value > * {
  flex: 1 1 auto;
}
.select__value::after {
  font-family: iconfont;
  content: "\f104";
  font-size: 0.625rem;
  align-self: stretch;
  flex: 0 0 0.3125rem;
  transition: all 0.3s ease 0s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.--select-open .select__value::after {
  transform: rotate(-180deg);
}
.select__value.--select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}
.select__content {
  flex: 1 1 auto;
  padding: 0.3125rem 0.625rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.select__text {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.select__input {
  padding: 0 0.625rem;
  width: 100%;
  background-color: transparent;
  height: 100%;
}
.--select-active .select__input::placeholder {
  color: #000000;
}
.--select-focus .select__input::placeholder {
  opacity: 0.5;
  border: 0.0625rem solid #020202;
}
.select__options {
  color: #000;
  position: absolute;
  top: calc(100% - 0.0625rem);
  border-radius: 0 0 0.25rem 0.25rem;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  padding: 0.625rem 0rem 0.3125rem 0rem;
}
.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 12.5rem;
}
.select__option {
  white-space: nowrap;
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 0.3125rem 0.625rem;
  color: inherit;
}
.select__option.--select-selected {
  background-color: #eee;
}
.select__row {
  display: inline-flex;
  align-items: center;
}
.select--show-top .select__options {
  top: auto;
  bottom: calc(100% - 0.0625rem);
  border: 0.0625rem solid #d9d9d9;
  border-bottom: 0;
  border-radius: 0.25rem 0.25rem 0 0;
  padding: 0.3125rem 0rem 0.625rem 0rem;
}
.--select-tag {
  cursor: pointer;
}/* Generated by vite-plugin-svg-spritemap */
.block-head--tac {
  text-align: center;
  justify-items: center;
}
.block-head__lable {
  font-weight: 500;
  color: rgb(133, 133, 133);
  letter-spacing: 0.2625rem;
  line-height: 2;
}
.block-head__title {
  font-weight: 700;
  color: #020202;
}
.block-head__title--white {
  color: #fff;
}
.block-head__title--big {
  color: #fff;
  line-height: 1.17;
}
.block-head__title--mw {
  max-width: 46.25rem;
}
.block-head__text {
  font-weight: 500;
  line-height: 2;
  color: rgb(133, 133, 133);
  max-width: 39.375rem;
}
.block-head__text--lhl {
  line-height: 2.2;
}
.block-head__text--white {
  color: #fff;
}
.block-head__text--gray {
  color: #CFCFCF;
}
.block-head__text--w440 {
  max-width: 27.5rem;
}
.block-head > :last-child {
  margin-bottom: 0;
}/* Generated by vite-plugin-svg-spritemap */
.swiper {
  overflow: hidden;
}

.swiper-initialized {
  touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0rem, 0, 0);
}/* Generated by vite-plugin-svg-spritemap */
.menu {
  flex: 1 1 auto;
}
.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 4.1875rem;
}
.menu__item {
  padding-block: 0.625rem;
  display: flex;
  gap: 0.3125rem;
  color: #DDD7DA;
  position: relative;
}
.menu__item.--active .sub-menu {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  scale: 1;
}
.menu__item.--active .menu__button::before {
  rotate: -180deg;
}
.menu__link {
  position: relative;
  transition: color 0.4s;
  line-height: 1.5;
}
.menu__link::before {
  content: "";
  pointer-events: none;
  transition: width 0.4s;
  background-color: #fff;
  width: 0;
  height: 0.125rem;
  position: absolute;
  left: 0;
  bottom: 0rem;
}
.menu__link--active {
  color: #fff;
}
.menu__button::before {
  font-size: 1rem;
  transition: rotate 0.4s, color 0.4s;
}

.sub-menu {
  min-width: 12.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  scale: 0;
  position: absolute;
  right: -0.9375rem;
  top: 2.8125rem;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  padding: 0.9375rem 0.9375rem 0.9375rem 0.9375rem;
  background: #fff;
  transition: scale 0.5s, opacity 0.5s, visibility 0.5s;
  border-radius: 0.625rem;
  box-shadow: 0.125rem 0.125rem 1.25rem 0.125rem #484848;
}
.sub-menu__item:not(:last-child) {
  margin-bottom: 0.625rem;
}
.sub-menu__link {
  width: 100%;
  padding: 0.625rem;
  border: 0.125rem solid #020202;
  background-color: rgb(133, 133, 133);
  border-radius: 0.375rem;
  color: #fff;
  transition: color 0.4s, background-color 0.4s;
}

.icon-menu {
  flex-shrink: 0;
  display: none;
}/* Generated by vite-plugin-svg-spritemap */
.header {
  padding-top: 3.125rem;
  padding-bottom: 1.75rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background: rgba(18, 11, 11, 0.5);
}
.header.scrolled {
  padding-top: 1.25rem;
}
.header__container {
  max-width: 88.75rem;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.header__logo {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  gap: 0.3125rem;
}
.header .logo-header {
  z-index: 5;
  position: relative;
}
.header .logo-header__icon {
  flex: 0 1 3.125rem;
}
.header .logo-header__icon img {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 1;
}
.header .logo-header__name {
  flex: 0 1 17.8125rem;
}
.header .logo-header__name img {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 285/40;
}
.header__form {
  padding: 0.9375rem;
  position: absolute;
  background-color: rgba(18, 11, 11, 0.5);
  top: 8rem;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  width: 100%;
  transform: rotateX(-90deg);
  transform-origin: top;
  transition: transform 0.4s;
}
.header__form.open {
  transform: rotateX(0deg);
}
.header__input {
  padding-left: 0.9375rem;
  padding-right: 8.75rem;
  background-color: #fff;
  border-radius: 2.5rem;
  height: 4.3125rem;
  max-width: 42.25rem;
}
.header__input::placeholder {
  color: #9b9b9b;
}
.header__input:focus-visible {
  outline: 0;
  box-shadow: 0rem 0rem 0.3125rem 0.125rem #fff;
}
.header__input:focus-visible::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}
.header__button {
  margin-left: -8.4375rem;
}/* Generated by vite-plugin-svg-spritemap */
.footer__container {
  display: flex;
  justify-content: space-between;
  row-gap: 1.25rem;
  column-gap: 0.9375rem;
  flex-wrap: wrap;
}
.footer__content {
  flex: 0 0 27.5rem;
}
.footer__text {
  font-weight: 500;
}
.footer__contacts {
  flex: 0 0 15.625rem;
}
.footer__contacts > * {
  margin-bottom: 1.5rem;
}
.footer__contacts *:last-child {
  margin-bottom: 0;
}
.footer__menu {
  flex: 0 0 8.125rem;
}
.footer__menu > * {
  margin-bottom: 1.5rem;
}
.footer__menu *:last-child {
  margin-bottom: 0;
}
.footer__socials {
  flex: 0 0 10.9375rem;
}
.footer__socials > * {
  margin-bottom: 1.5rem;
}
.footer__socials *:last-child {
  margin-bottom: 0;
}
.footer__copyright {
  background-color: #020202;
  color: #DDD7DA;
  text-align: center;
  padding-block: 2.5rem;
  font-weight: 500;
}

.contacts-footer__title {
  color: #020202;
  font-size: 1.5rem;
  font-weight: 600;
}
.contacts-footer__list > * {
  margin-bottom: 1.5rem;
}
.contacts-footer__list *:last-child {
  margin-bottom: 0;
}
.contacts-footer__link {
  transition: color 0.4s;
  align-items: center;
  display: flex;
  gap: 0.375rem;
}
.contacts-footer__link::before {
  color: #020202;
  font-size: 1.25rem;
}
.menu-footer__title {
  color: #020202;
  font-size: 1.5rem;
  font-weight: 600;
}
.menu-footer__list > * {
  margin-bottom: 1.5rem;
}
.menu-footer__list *:last-child {
  margin-bottom: 0;
}
.menu-footer__link {
  transition: color 0.4s;
}

.socials-footer__title {
  color: #020202;
  font-size: 1.5rem;
  font-weight: 600;
}
.socials-footer__list {
  display: flex;
  align-items: center;
  gap: 1.6875rem;
}
.socials-footer__link {
  transition: color 0.4s;
  color: #020202;
}
.socials-footer__link::before {
  font-size: 1.5rem;
}/* Generated by vite-plugin-svg-spritemap */
.rating {
  display: inline-block;
}
.rating__items {
  display: inline-flex;
  align-items: flex-start;
  gap: 0.25rem;
}
.rating__item {
  flex: 0 0 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAyMCAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE5LjgxNTcgNy4xMjMyNUwxMi44NjcyIDYuNTI0MDdMMTAuMTUxNiAwLjEyNjQ2NUw3LjQzNjAxIDYuNTMzNzRMMC40ODc1NDkgNy4xMjMyNUw1Ljc2NDEzIDExLjY5NDNMNC4xNzkyMiAxOC40ODgyTDEwLjE1MTYgMTQuODgzNUwxNi4xMjQgMTguNDg4MkwxNC41NDg4IDExLjY5NDNMMTkuODE1NyA3LjEyMzI1Wk0xMC4xNTE2IDEzLjA3NjNMNi41MTc5MiAxNS4yNzAxTDcuNDg0MzMgMTEuMTMzOEw0LjI3NTg2IDguMzUwNThMOC41MDg3MiA3Ljk4MzM1TDEwLjE1MTYgNC4wODg3M0wxMS44MDQyIDcuOTkzMDFMMTYuMDM3IDguMzYwMjVMMTIuODI4NiAxMS4xNDM1TDEzLjc5NSAxNS4yNzk3TDEwLjE1MTYgMTMuMDc2M1oiIGZpbGw9IiNFREQxNDYiLz4KPC9zdmc+Cg==") 0 0/1.25rem no-repeat;
  transition: all 0.3s;
}
.rating__item--active {
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAyMCAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwLjA5MjMgMTQuODgzNUwxNi4wNjQ3IDE4LjQ4ODJMMTQuNDc5OCAxMS42OTQzTDE5Ljc1NjMgNy4xMjMyNUwxMi44MDc5IDYuNTMzNzRMMTAuMDkyMyAwLjEyNjQ2NUw3LjM3NjY4IDYuNTMzNzRMMC40MjgyMjMgNy4xMjMyNUw1LjcwNDggMTEuNjk0M0w0LjExOTg5IDE4LjQ4ODJMMTAuMDkyMyAxNC44ODM1WiIgZmlsbD0iI0VERDE0NiIvPgo8L3N2Zz4K") 0 0/1.25rem no-repeat;
}
.rating__item span {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 1.25rem;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAyMCAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwLjA5MjMgMTQuODgzNUwxNi4wNjQ3IDE4LjQ4ODJMMTQuNDc5OCAxMS42OTQzTDE5Ljc1NjMgNy4xMjMyNUwxMi44MDc5IDYuNTMzNzRMMTAuMDkyMyAwLjEyNjQ2NUw3LjM3NjY4IDYuNTMzNzRMMC40MjgyMjMgNy4xMjMyNUw1LjcwNDggMTEuNjk0M0w0LjExOTg5IDE4LjQ4ODJMMTAuMDkyMyAxNC44ODM1WiIgZmlsbD0iI0VERDE0NiIvPgo8L3N2Zz4K") 0 0/1.25rem no-repeat;
}
.rating__item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 0.25rem;
  transform: translateX(100%);
}
[data-rating=set] .rating__item:not(:last-child)::after {
  cursor: pointer;
}
.rating__input {
  width: 100%;
  height: 100%;
  opacity: 0;
  display: block;
}
[data-fls-rating=set] .rating__input {
  cursor: pointer;
}/* Generated by vite-plugin-svg-spritemap */
.qs-datepicker-container {
  margin: 0.3125rem;
  font-size: 1rem;
  font-family: sans-serif;
  color: #000;
  position: absolute;
  width: 15.625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 9001;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  background: #000;
  -webkit-box-shadow: 0 1.25em 1.25em -0.9375em rgba(0, 0, 0, 0.3);
  box-shadow: 0 1.25em 1.25em -0.9375em rgba(0, 0, 0, 0.3);
  border-right: 0.0625rem solid #fff;
  border-left: 0.0625rem solid #f1ad70;
  padding: 0.3125rem;
}
.qs-datepicker-container:before, .qs-datepicker-container:after {
  content: "";
  width: 100%;
  height: 0.125rem;
  left: 0;
  z-index: 2;
  position: absolute;
  background-image: linear-gradient(to right, #f1ad70 0%, #fffdf2 100%);
}
.qs-datepicker-container:before {
  top: 0;
}
.qs-datepicker-container:after {
  bottom: 0;
}

.qs-datepicker-container * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.qs-datepicker-container.qs-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.qs-datepicker-container.qs-hidden {
  display: none;
}

.qs-datepicker .qs-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.qs-datepicker .qs-overlay.qs-hidden {
  opacity: 0;
  z-index: -1;
}

.qs-datepicker .qs-overlay .qs-overlay-year {
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 0.0625rem solid #fff;
  border-radius: 0;
  color: #fff;
  font-size: 0.875em;
  padding: 0.25em 0;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.qs-datepicker .qs-overlay .qs-overlay-year::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.qs-datepicker .qs-overlay .qs-close {
  padding: 0.5em;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.qs-datepicker .qs-overlay .qs-submit {
  border: 0.0625rem solid #fff;
  border-radius: 0.26392em;
  padding: 0.5em;
  margin: 0 auto auto;
  cursor: pointer;
  background: hsla(0, 0%, 50.2%, 0.4);
}

.qs-datepicker .qs-overlay .qs-submit.qs-disabled {
  color: grey;
  border-color: grey;
  cursor: not-allowed;
}

.qs-datepicker .qs-overlay .qs-overlay-month-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.qs-datepicker .qs-overlay .qs-overlay-month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 33.33333%;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.qs-datepicker .qs-overlay .qs-overlay-month.active,
.qs-datepicker .qs-overlay .qs-overlay-month:hover {
  opacity: 1;
}

.qs-datepicker .qs-controls {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background: #000;
  color: #fff;
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.qs-datepicker .qs-controls.qs-blur {
  -webkit-filter: blur(0.3125rem);
  filter: blur(0.3125rem);
}

.qs-datepicker .qs-arrow {
  height: 1.5625em;
  width: 1.5625em;
  position: relative;
  cursor: pointer;
  border-radius: 0.26392em;
  -webkit-transition: background 0.15s;
  transition: background 0.15s;
}

.qs-datepicker .qs-arrow:hover {
  background: rgba(0, 0, 0, 0.1);
}

.qs-datepicker .qs-arrow:hover.qs-left:after {
  border-right-color: #000;
}

.qs-datepicker .qs-arrow:hover.qs-right:after {
  border-left-color: #000;
}

.qs-datepicker .qs-arrow:after {
  content: "";
  border: 0.39062em solid rgba(0, 0, 0, 0);
  position: absolute;
  top: 50%;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
}

.qs-datepicker .qs-arrow.qs-left:after {
  border-right-color: grey;
  right: 50%;
  -webkit-transform: translate(25%, -50%);
  -ms-transform: translate(25%, -50%);
  transform: translate(25%, -50%);
}

.qs-datepicker .qs-arrow.qs-right:after {
  border-left-color: grey;
  left: 50%;
  -webkit-transform: translate(-25%, -50%);
  -ms-transform: translate(-25%, -50%);
  transform: translate(-25%, -50%);
}

.qs-datepicker .qs-month-year {
  font-weight: 700;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
  border-bottom: 0.0625rem solid rgb(0, 0, 0);
  cursor: pointer;
}

.qs-datepicker .qs-month-year:hover {
  border-bottom: 0.0625rem solid grey;
}

.qs-datepicker .qs-month-year:active:focus,
.qs-datepicker .qs-month-year:focus {
  outline: none;
}

.qs-datepicker .qs-month {
  padding-right: 0.5ex;
}

.qs-datepicker .qs-year {
  padding-left: 0.5ex;
}

.qs-datepicker .qs-squares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.3125em;
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.qs-datepicker .qs-squares.qs-blur {
  -webkit-filter: blur(0.3125rem);
  filter: blur(0.3125rem);
}

.qs-datepicker .qs-square {
  width: 14.28571%;
  height: 1.5625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition: background 0.1s;
  transition: background 0.1s;
  border-radius: 0.26392em;
}

.qs-datepicker .qs-square.qs-current {
  font-weight: 700;
}

.qs-datepicker .qs-square.qs-current span {
  text-decoration: underline;
}

.qs-datepicker .qs-square.qs-active {
  background: #fff;
  color: #000;
}

.qs-datepicker .qs-square.qs-range-date-start:not(.qs-range-date-6) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.qs-datepicker .qs-square.qs-range-date-middle {
  background: #d4ebf2;
}

.qs-datepicker .qs-square.qs-range-date-middle:not(.qs-range-date-0):not(.qs-range-date-6) {
  border-radius: 0;
}

.qs-datepicker .qs-square.qs-range-date-middle.qs-range-date-0 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.qs-datepicker .qs-square.qs-range-date-end:not(.qs-range-date-0),
.qs-datepicker .qs-square.qs-range-date-middle.qs-range-date-6 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.qs-datepicker .qs-square.qs-disabled span {
  opacity: 0.2;
}

.qs-datepicker .qs-square.qs-empty {
  cursor: default;
}

.qs-datepicker .qs-square.qs-disabled {
  cursor: not-allowed;
}

.qs-datepicker .qs-square.qs-day {
  cursor: default;
  font-weight: 700;
  color: grey;
}

.qs-datepicker .qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover {
  background: orange;
}

.qs-datepicker .qs-event {
  position: relative;
}

.qs-datepicker .qs-event:after {
  content: "";
  position: absolute;
  width: 0.46875em;
  height: 0.46875em;
  border-radius: 50%;
  background: #07f;
  bottom: 0;
  right: 0;
}

.qs-datepicker .qs-event.qs-disabled:after,
.qs-datepicker .qs-event.qs-empty:after {
  background: #cce4ff;
}/* Generated by vite-plugin-svg-spritemap */
.button {
  display: inline-flex;
  padding: 0.875rem 1.625rem;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #020202;
  border-radius: 1.78125rem;
  font-weight: 600;
  line-height: 1.6;
  transition: all 0.4s;
}
.button--fw {
  width: 100%;
}
.button--padding {
  padding: 0.875rem 2.9375rem;
}

.button-prew, .button-next {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  border-radius: 0.625rem;
  border: 0.0625rem solid #E8E8E8;
  background-color: #fff;
  box-shadow: 0rem 0rem 3.125rem 0rem rgba(0, 0, 0, 0.1);
  transition: background-color 0.4s;
  animation: pulse 1.5s linear infinite;
}
.button-prew::before, .button-next::before {
  font-family: iconfont;
  content: "\f103";
  font-size: 1.6875rem;
}

.button-next::before {
  rotate: 180deg;
}

.button-search::before {
  font-family: iconfont;
  content: "\f105";
  color: #fff;
  font-size: 1.3125rem;
  width: 1.5625rem;
  height: 1.5625rem;
  text-align: center;
  align-content: center;
  transition: color 0.4s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}/* Generated by vite-plugin-svg-spritemap */
[data-fls-ripple] {
  position: relative;
}

.--ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  border: 0.0625rem solid rgba(255, 255, 255, 0.5);
  animation: button-circle 1.5s ease forwards;
}

@keyframes button-circle {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(10);
    opacity: 0;
  }
}/* Generated by vite-plugin-svg-spritemap */
.subscribe {
  position: relative;
}
.subscribe__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.subscribe__block-head {
  position: relative;
}
.subscribe__form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  width: 100%;
}
.subscribe__input {
  padding-left: 0.9375rem;
  padding-right: 8.75rem;
  background-color: #fff;
  border-radius: 2.5rem;
  height: 4.3125rem;
  max-width: 42.25rem;
}
.subscribe__input::placeholder {
  color: #9b9b9b;
}
.subscribe__input:focus-visible {
  outline: 0;
  box-shadow: 0rem 0rem 0.3125rem 0.125rem #fff;
}
.subscribe__input:focus-visible::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}
.subscribe__button {
  margin-left: -10rem;
}/* Generated by vite-plugin-svg-spritemap *//* Generated by vite-plugin-svg-spritemap */
.page [class*=__bg] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero {
  position: relative;
}
.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero__body {
  position: relative;
}
.hero__filter {
  background-color: #fff;
  padding: 0.6875rem;
  border-radius: 2.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 46rem;
  gap: 0.3125rem;
  justify-content: space-between;
}
.hero__popular span {
  color: #fff;
}
.hero__popular p {
  color: #DDD7DA;
}
.hero:last-child {
  margin-bottom: 0;
}
.filter__date {
  flex-basis: 7.5rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 0.3125rem;
}
.filter__date::before {
  font-size: 0.625rem;
}

.input-date {
  cursor: pointer;
  padding-left: 0.625rem;
  border-radius: 0.25rem;
}
.input-date::placeholder {
  color: rgb(133, 133, 133);
}
.input-date:focus-visible {
  outline: 0.0625rem solid rgb(133, 133, 133);
}
.input-date:focus-visible::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}
.input-date:focus-visible .filter__date ::before {
  rotate: 180deg;
}

.interesting__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.interesting__slider {
  overflow: visible;
}

.slider-interesting__slide {
  border-radius: 0.625rem;
  opacity: 0;
  transition: opacity 0.4s;
}
.slider-interesting .swiper-slide-active, .slider-interesting .swiper-slide-next, .slider-interesting .swiper-slide-prev {
  opacity: 1;
}

.item-interesting {
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.4s;
  background: rgb(255, 255, 255);
  overflow: hidden;
  border-radius: 0rem 0rem 0.625rem 0.625rem;
}
.item-interesting__picture {
  aspect-ratio: 444/361;
}
.item-interesting__image {
  border-radius: 0.625rem;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.item-interesting__info {
  flex-grow: 1;
  opacity: 0;
  visibility: hidden;
  position: relative;
  z-index: 2;
  margin-top: -3.4375rem;
  border-radius: 0rem 0rem 0.625rem 0.625rem;
  padding-inline: 0.875rem;
  transition: opacity 0.4s, visibility 0.4s, translate 0.6s;
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
}
.item-interesting__quote {
  background-color: #fff;
  aspect-ratio: 1;
  box-shadow: 0rem 0.25rem 1.9375rem 0rem rgba(0, 0, 0, 0.14);
  rotate: 180deg;
  translate: 7.5rem 0rem;
  transition: rotate 0.8s, translate 0.8s;
  position: absolute;
  top: -1rem;
  right: 1.875rem;
  border-radius: 50%;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #020202;
}
.item-interesting__quote::before {
  font-family: iconfont;
  content: "\f106";
  font-size: 1.5625rem;
  margin-top: -0.625rem;
}
.item-interesting__title {
  color: #020202;
  max-width: 70%;
  font-size: 1.5rem;
  font-weight: 600;
  translate: -100%;
  opacity: 0;
  transition: translate 0.6s, opacity 0.8s;
}
.item-interesting__text {
  font-size: 0.875rem;
  font-weight: 500;
  translate: -100%;
  opacity: 0;
  transition: translate 0.6s, opacity 0.8s;
}
.item-interesting__text > *:not(:last-child) {
  margin-bottom: 0.625rem;
}
.item-interesting__link {
  position: relative;
}
.item-interesting__link::after {
  content: "";
  width: 0;
  height: 0.1875rem;
  background-color: #020202;
  position: absolute;
  bottom: -0.3125rem;
  left: 0;
  transition: width 0.4s;
}

.why {
  position: relative;
}
.why__bg {
  filter: blur(0.26249998808125rem);
  max-height: 39.5625rem;
}
.why__block-head {
  position: relative;
}
.why__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.why__slider {
  overflow: visible;
  max-width: 72.5rem;
}

.slider-why__slide {
  height: auto;
  border-radius: 0.625rem;
  opacity: 0;
  transition: opacity 0.4s;
}
.slider-why .swiper-slide-active, .slider-why .swiper-slide-next, .slider-why .swiper-slide-prev {
  opacity: 1;
}

.item-why {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-inline: 1.1875rem;
  background: rgb(255, 255, 255);
  border-radius: 0.625rem;
}
.item-why > * {
  margin-bottom: 0.625rem;
}
.item-why__image {
  aspect-ratio: 96/97;
  object-fit: contain;
}
.item-why__info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.item-why__title {
  color: #020202;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.45;
}
.item-why__text {
  flex: 1 1 auto;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.45;
}
.item-why__text > *:not(:last-child) {
  margin-bottom: 0.625rem;
}
.item-why__link {
  position: relative;
  font-size: 1.125rem;
  font-weight: 500;
  color: #020202;
  display: inline-flex;
  align-self: start;
  gap: 0.625rem;
  transition: text-shadow 0.4s;
}
.item-why__link::after {
  font-family: iconfont;
  content: "\f11d";
  margin-top: -0.9375rem;
  font-size: 1.8125rem;
}
.item-why__link::before {
  content: "";
  width: 0;
  height: 0.125rem;
  background-color: #020202;
  position: absolute;
  bottom: -0.125rem;
  left: 0;
  transition: width 0.4s;
}
.item-why > :last-child {
  margin-bottom: 0;
}
.partners__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.625rem 1.25rem;
}
.partners__link {
  transition: scale 0.4s;
}
.reviews__buttons {
  display: flex;
  gap: 4.0625rem;
  justify-content: flex-end;
}
.reviews__slider {
  overflow: visible;
}

.item-reviews {
  min-height: 100%;
  border-radius: 0.625rem;
  box-shadow: 0rem 1.25rem 3.75rem 0rem rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-reviews__picture {
  transition: scale 0.4s;
  width: 8.3125rem;
  overflow: hidden;
}
.item-reviews__image {
  aspect-ratio: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.item-reviews__info {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex-grow: 1;
}
.item-reviews__info > * {
  margin-bottom: 1.125rem;
}
.item-reviews__info > :last-child {
  margin-bottom: 0;
}
.item-reviews__title {
  color: #020202;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 0.3125rem;
}
.item-reviews__link {
  position: relative;
}
.item-reviews__link::before {
  content: "";
  width: 100%;
  rotate: Y 90deg;
  height: 0.125rem;
  background-color: #020202;
  position: absolute;
  bottom: -0.125rem;
  left: 0;
  transition: rotate 0.4s;
}
.item-reviews__sub-title {
  text-align: center;
  font-weight: 500;
  font-size: 1.125rem;
}
.item-reviews__text {
  font-weight: 500;
}
@media (max-width: 78.75em){
  .menu__list {
    column-gap: 0.9375rem;
  }
}
@media (max-width: 67.5em){
  .footer__content {
    flex-basis: calc(50% - 0.46875rem);
    justify-items: center;
  }
  .footer__contacts {
    flex-basis: calc(50% - 0.46875rem);
    justify-items: center;
  }
  .footer__menu {
    flex-basis: calc(50% - 0.46875rem);
    justify-items: center;
  }
  .footer__socials {
    flex-basis: calc(50% - 0.46875rem);
    justify-items: center;
  }
}
@media (max-width: 62.1875em){
  .header .logo-header__name {
    display: none;
  }
}
@media (max-width: 61.99875em){
  .header {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
  }
  .header__form {
    top: 4.375rem;
    padding: 0.625rem;
    flex-direction: column;
  }
  .header__form {
    top: 3.4375rem;
  }
  .header__input {
    height: 3.125rem;
    padding-right: 0.9375rem;
  }
  .header__button {
    margin: 0;
  }
}
@media (max-width: 47.99875em) and (any-hover: none){
  .icon-menu {
    cursor: default;
  }
}
@media (max-width: 47.99875em){
  .block-head__text {
    line-height: 1;
  }
  .menu {
    position: fixed;
    width: 100%;
    height: 100svh;
    left: 100%;
    top: 0;
    overflow: auto;
    padding: 4.375rem 0.9375rem 1.875rem 0.9375rem;
    transition: left 0.4s;
    background-color: #484848;
  }
  .menu::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 3.75rem;
    left: 100%;
    top: 0;
    transition: left 0.4s;
    z-index: 2;
    background-color: #484848;
  }
  [data-fls-menu-open] .menu {
    left: 0;
  }
  [data-fls-menu-open] .menu::before {
    left: 0;
  }
  .menu__list {
    flex-direction: column;
    align-items: flex-end;
  }
  .menu__item {
    flex-direction: column;
    text-align: center;
    width: 100%;
    border: 0.0625rem solid #fff;
    padding: 0.625rem;
    margin-bottom: 0.3125rem;
    border-radius: 0.3125rem;
    box-shadow: 0.0625rem 0.0625rem 0.3125rem 0.125rem #020202;
  }
  .menu__item .sub-menu {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    scale: 1;
    position: static;
  }
  .menu__link {
    font-size: 1.5rem;
    width: 100%;
  }
  .menu__button {
    display: none;
  }
  .sub-menu {
    background: #484848;
  }
  .sub-menu__item {
    color: #484848;
    font-size: 1.25rem;
  }
  .sub-menu__link {
    font-size: 1.5rem;
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.4s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  [data-fls-menu-open] .icon-menu span {
    width: 0;
  }
  [data-fls-menu-open] .icon-menu::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  [data-fls-menu-open] .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
  .header .logo-header__icon {
    flex-basis: 2.1875rem;
  }
  .header .logo-header__name {
    display: block;
    flex-basis: 10rem;
  }
  .footer__content {
    flex-basis: 100%;
    text-align: center;
  }
  .footer__contacts {
    flex-basis: 100%;
    text-align: center;
  }
  .footer__menu {
    flex-basis: 100%;
    text-align: center;
  }
  .footer__socials {
    flex-basis: 100%;
    text-align: center;
  }
  .subscribe__form {
    flex-direction: column;
  }
  .subscribe__input {
    height: 3.125rem;
    padding-right: 0.9375rem;
  }
  .subscribe__button {
    margin: 0;
  }
  .hero__bg::before {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
  }
  .hero__filter {
    border-radius: 1.25rem;
  }
  .item-why {
    text-align: center;
  }
  .item-why__link {
    border: 0.0625rem solid #020202;
    padding: 0.625rem;
    border-radius: 0.3125rem;
    align-self: center;
  }
  .reviews__block-head {
    text-align: center;
  }
  .reviews__buttons {
    justify-content: space-between;
  }
  .item-reviews {
    text-align: center;
  }
}
@media (max-width: 37.5em){
  .filter__location {
    flex-basis: 100%;
  }
  .filter__date {
    flex-basis: 100%;
  }
  .filter__people {
    flex-basis: 100%;
  }
  .filter__button {
    flex-basis: 100%;
  }
}
@media (max-width: 31.25em){
  .partners__list {
    text-align: center;
  }
  .partners__item {
    flex-basis: 100%;
  }
}
@media (max-width: 20em){
  .block-head > * {
    margin-bottom: 0.625rem;
  }
  .block-head__lable {
    font-size: 1.125rem;
  }
  .block-head__title {
    font-size: 1.5rem;
  }
  .block-head__title--white {
    margin-bottom: 0.625rem;
  }
  .block-head__title--big {
    font-size: 1.5rem;
  }
  .block-head__title--big {
    margin-bottom: 0.9375rem;
  }
  .block-head__text {
    font-size: 1rem;
  }
  .footer__container {
    padding-top: 0.9375rem;
  }
  .footer__container {
    padding-bottom: 1.25rem;
  }
  .button-prew, .button-next {
    width: 3.125rem;
  }
  .subscribe__container {
    padding-top: 0.9375rem;
  }
  .subscribe__container {
    padding-bottom: 1.25rem;
  }
  .subscribe__block-head {
    margin-bottom: 1.25rem;
  }
  .page > * {
    margin-bottom: 1.25rem;
  }
  .hero__container {
    padding-top: 3.75rem;
  }
  .hero__container {
    padding-bottom: 1.25rem;
  }
  .hero__body {
    padding-left: 6.25e-8rem;
  }
  .hero__body > * {
    margin-bottom: 0.9375rem;
  }
  .interesting__buttons {
    margin-bottom: 0.625rem;
  }
  .item-interesting__info {
    padding-block: 0.875rem;
  }
  .item-interesting__quote {
    width: 3.75rem;
  }
  .why__container {
    padding-top: 0.9375rem;
  }
  .why__block-head {
    margin-bottom: 0.625rem;
  }
  .why__buttons {
    margin-bottom: 0.625rem;
  }
  .item-why {
    padding-bottom: 0.9375rem;
  }
  .item-why {
    padding-top: 0.9375rem;
  }
  .item-why__picture {
    margin-bottom: 0.9375rem;
  }
  .item-why__text {
    margin-bottom: 0.9375rem;
  }
  .partners__block-head {
    margin-bottom: 0.9375rem;
  }
  .partners__list {
    padding-inline: 6.25e-8rem;
  }
  .reviews__block-head {
    margin-bottom: 0.625rem;
  }
  .reviews__buttons {
    margin-top: 6.25e-8rem;
  }
  .reviews__buttons {
    margin-bottom: 3.75rem;
  }
  .item-reviews {
    row-gap: 0.625rem;
  }
  .item-reviews {
    padding-inline: 0.625rem;
  }
  .item-reviews {
    padding-block: 0.9375rem;
  }
  .item-reviews__picture {
    margin-top: -3.75rem;
  }
  .item-reviews__head {
    margin-bottom: 0.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 87.5em){
  .block-head > * {
    margin-bottom: clamp( 0.625rem , 0.47685185185rem  +  0.7407407407vw , 1.125rem );
  }
  .block-head__lable {
    font-size: clamp( 1.125rem , 0.902777777775rem  +  1.1111111111vw , 1.875rem );
  }
  .block-head__title {
    font-size: clamp( 1.5rem , 0.83333333333125rem  +  3.3333333333vw , 3.75rem );
  }
  .block-head__title--white {
    margin-bottom: clamp( 0.625rem , 0.4398148148125rem  +  0.9259259259vw , 1.25rem );
  }
  .block-head__title--big {
    font-size: clamp( 1.5rem , 0.277777777775rem  +  6.1111111111vw , 5.625rem );
  }
  .block-head__title--big {
    margin-bottom: clamp( 0.9375rem , 0.511574074075rem  +  2.1296296296vw , 2.375rem );
  }
  .block-head__text {
    font-size: clamp( 1rem , 0.9629629629625rem  +  0.1851851852vw , 1.125rem );
  }
  .footer__container {
    padding-top: clamp( 0.9375rem , -0.340277777775rem  +  6.3888888889vw , 5.25rem );
  }
  .footer__container {
    padding-bottom: clamp( 1.25rem , 0.324074074075rem  +  4.6296296296vw , 4.375rem );
  }
  .button-prew, .button-next {
    width: clamp( 3.125rem , 2.77314814815rem  +  1.7592592593vw , 4.3125rem );
  }
  .subscribe__container {
    padding-top: clamp( 0.9375rem , -0.00694444444375rem  +  4.7222222222vw , 4.125rem );
  }
  .subscribe__container {
    padding-bottom: clamp( 1.25rem , -1.2870370370375rem  +  12.6851851852vw , 9.8125rem );
  }
  .subscribe__block-head {
    margin-bottom: clamp( 1.25rem , -0.00925925925625rem  +  6.2962962963vw , 5.5rem );
  }
  .page > * {
    margin-bottom: clamp( 1.25rem , -0.04629629629375rem  +  6.4814814815vw , 5.625rem );
  }
  .hero__container {
    padding-top: clamp( 3.75rem , 0.41666666666875rem  +  16.6666666667vw , 15rem );
  }
  .hero__container {
    padding-bottom: clamp( 1.25rem , 0.1388888888875rem  +  5.5555555556vw , 5rem );
  }
  .hero__body {
    padding-left: clamp( 6.25e-8rem , -0.5555554745375rem  +  2.7777776852vw , 1.875rem );
  }
  .hero__body > * {
    margin-bottom: clamp( 0.9375rem , 0.5486111111125rem  +  1.9444444444vw , 2.25rem );
  }
  .interesting__buttons {
    margin-bottom: clamp( 0.625rem , -0.02314814815rem  +  3.2407407407vw , 2.8125rem );
  }
  .item-interesting__info {
    padding-block: clamp( 0.875rem , 0.35648148148125rem  +  2.5925925926vw , 2.625rem );
  }
  .item-interesting__quote {
    width: clamp( 3.75rem , 3.39814814815rem  +  1.7592592593vw , 4.9375rem );
  }
  .why__container {
    padding-top: clamp( 0.9375rem , 0.17824074074375rem  +  3.7962962963vw , 3.5rem );
  }
  .why__block-head {
    margin-bottom: clamp( 6.25e-8rem , 0.81018516666875rem  +  -0.9259258333vw , 0.625rem );
  }
  .why__buttons {
    margin-bottom: clamp( 0.625rem , -0.597222222225rem  +  6.1111111111vw , 4.75rem );
  }
  .item-why {
    padding-bottom: clamp( 0.9375rem , -0.08101851851875rem  +  5.0925925926vw , 4.375rem );
  }
  .item-why {
    padding-top: clamp( 0.9375rem , 0.4004629629625rem  +  2.6851851852vw , 2.75rem );
  }
  .item-why__picture {
    margin-bottom: clamp( 0.9375rem , 0.60416666666875rem  +  1.6666666667vw , 2.0625rem );
  }
  .item-why__text {
    margin-bottom: clamp( 0.9375rem , 0.511574074075rem  +  2.1296296296vw , 2.375rem );
  }
  .partners__block-head {
    margin-bottom: clamp( 0.9375rem , -0.0625rem  +  5vw , 4.3125rem );
  }
  .partners__list {
    padding-inline: clamp( 6.25e-8rem , -2.1296295486125rem  +  10.6481480556vw , 7.1875rem );
  }
  .reviews__block-head {
    margin-bottom: clamp( 6.25e-8rem , 0.81018516666875rem  +  -0.9259258333vw , 0.625rem );
  }
  .reviews__buttons {
    margin-top: clamp( -2.5rem , 0.74074082175625rem  +  -3.7037037963vw , 6.25e-8rem );
  }
  .reviews__buttons {
    margin-bottom: clamp( 3.75rem , 2.08333333333125rem  +  8.3333333333vw , 9.375rem );
  }
  .item-reviews {
    row-gap: clamp( 0.625rem , -0.02314814815rem  +  3.2407407407vw , 2.8125rem );
  }
  .item-reviews {
    padding-inline: clamp( 0.625rem , -0.17129629629375rem  +  3.9814814815vw , 3.3125rem );
  }
  .item-reviews {
    padding-block: clamp( 0.9375rem , 0.28935185185rem  +  3.2407407407vw , 3.125rem );
  }
  .item-reviews__picture {
    margin-top: clamp( -7.1875rem , -2.73148148148125rem  +  -5.0925925926vw , -3.75rem );
  }
  .item-reviews__head {
    margin-bottom: clamp( 0.9375rem , 0.28935185185rem  +  3.2407407407vw , 3.125rem );
  }
}
@media (min-width: 61.99875em){
  .slider-why__slide {
    box-shadow: 0rem 0.5rem 1.875rem 0rem rgba(0, 0, 0, 0.15);
  }
}
@media (min-width: 75em){
  .why__content {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 87.5em){
  .block-head > * {
    margin-bottom: 1.125rem;
  }
  .block-head__lable {
    font-size: 1.875rem;
  }
  .block-head__title {
    font-size: 3.75rem;
  }
  .block-head__title--white {
    margin-bottom: 1.25rem;
  }
  .block-head__title--big {
    font-size: 5.625rem;
  }
  .block-head__title--big {
    margin-bottom: 2.375rem;
  }
  .block-head__text {
    font-size: 1.125rem;
  }
  .footer__container {
    padding-top: 5.25rem;
  }
  .footer__container {
    padding-bottom: 4.375rem;
  }
  .button-prew, .button-next {
    width: 4.3125rem;
  }
  .subscribe__container {
    padding-top: 4.125rem;
  }
  .subscribe__container {
    padding-bottom: 9.8125rem;
  }
  .subscribe__block-head {
    margin-bottom: 5.5rem;
  }
  .page > * {
    margin-bottom: 5.625rem;
  }
  .hero__container {
    padding-top: 15rem;
  }
  .hero__container {
    padding-bottom: 5rem;
  }
  .hero__body {
    padding-left: 1.875rem;
  }
  .hero__body > * {
    margin-bottom: 2.25rem;
  }
  .interesting__buttons {
    margin-bottom: 2.8125rem;
  }
  .item-interesting__info {
    padding-block: 2.625rem;
  }
  .item-interesting__quote {
    width: 4.9375rem;
  }
  .why__container {
    padding-top: 3.5rem;
  }
  .why__block-head {
    margin-bottom: 6.25e-8rem;
  }
  .why__buttons {
    margin-bottom: 4.75rem;
  }
  .item-why {
    padding-bottom: 4.375rem;
  }
  .item-why {
    padding-top: 2.75rem;
  }
  .item-why__picture {
    margin-bottom: 2.0625rem;
  }
  .item-why__text {
    margin-bottom: 2.375rem;
  }
  .partners__block-head {
    margin-bottom: 4.3125rem;
  }
  .partners__list {
    padding-inline: 7.1875rem;
  }
  .reviews__block-head {
    margin-bottom: 6.25e-8rem;
  }
  .reviews__buttons {
    margin-top: -2.5rem;
  }
  .reviews__buttons {
    margin-bottom: 9.375rem;
  }
  .item-reviews {
    row-gap: 2.8125rem;
  }
  .item-reviews {
    padding-inline: 3.3125rem;
  }
  .item-reviews {
    padding-block: 3.125rem;
  }
  .item-reviews__picture {
    margin-top: -7.1875rem;
  }
  .item-reviews__head {
    margin-bottom: 3.125rem;
  }
}
@media (any-hover: hover){
  .select__option:hover {
    background: #d9d9d9;
  }
  .socials-footer__link.facebook:hover {
    color: #0863f7;
  }
  .socials-footer__link.twitter:hover {
    color: #1c96e8;
  }
  .socials-footer__link.youtube:hover {
    color: #f70031;
  }
  .socials-footer__link.instagram:hover {
    color: #f37e08;
  }
  [data-fls-rating=set] .rating__items:hover .rating__item {
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAyMCAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwLjA5MjMgMTQuODgzNUwxNi4wNjQ3IDE4LjQ4ODJMMTQuNDc5OCAxMS42OTQzTDE5Ljc1NjMgNy4xMjMyNUwxMi44MDc5IDYuNTMzNzRMMTAuMDkyMyAwLjEyNjQ2NUw3LjM3NjY4IDYuNTMzNzRMMC40MjgyMjMgNy4xMjMyNUw1LjcwNDggMTEuNjk0M0w0LjExOTg5IDE4LjQ4ODJMMTAuMDkyMyAxNC44ODM1WiIgZmlsbD0iI0VERDE0NiIvPgo8L3N2Zz4K") 0 0/1.25rem no-repeat;
  }
  [data-fls-rating=set] .rating__item:hover ~ .rating__item {
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMTkiIHZpZXdCb3g9IjAgMCAyMCAxOSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTE5LjgxNTcgNy4xMjMyNUwxMi44NjcyIDYuNTI0MDdMMTAuMTUxNiAwLjEyNjQ2NUw3LjQzNjAxIDYuNTMzNzRMMC40ODc1NDkgNy4xMjMyNUw1Ljc2NDEzIDExLjY5NDNMNC4xNzkyMiAxOC40ODgyTDEwLjE1MTYgMTQuODgzNUwxNi4xMjQgMTguNDg4MkwxNC41NDg4IDExLjY5NDNMMTkuODE1NyA3LjEyMzI1Wk0xMC4xNTE2IDEzLjA3NjNMNi41MTc5MiAxNS4yNzAxTDcuNDg0MzMgMTEuMTMzOEw0LjI3NTg2IDguMzUwNThMOC41MDg3MiA3Ljk4MzM1TDEwLjE1MTYgNC4wODg3M0wxMS44MDQyIDcuOTkzMDFMMTYuMDM3IDguMzYwMjVMMTIuODI4NiAxMS4xNDM1TDEzLjc5NSAxNS4yNzk3TDEwLjE1MTYgMTMuMDc2M1oiIGZpbGw9IiNFREQxNDYiLz4KPC9zdmc+Cg==") 0 0/1.25rem no-repeat;
  }
  [data-fls-rating=set] .rating__item:hover ~ .rating__item span {
    display: none;
  }
}
@media (any-hover: hover) and (any-pointer: fine){
  .select__title:hover {
    transition: color 0.4s;
    color: #020202;
  }
  .menu__item:hover .menu__link::before {
    width: 100%;
  }
  .menu__item:hover .menu__button {
    color: #fff;
  }
  .menu__item:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    scale: 1;
  }
  .sub-menu__link:hover {
    color: #020202;
    background-color: rgb(133, 133, 133);
  }
  .header__input:hover {
    box-shadow: 0rem 0rem 0.3125rem 0.0625rem #DDD7DA;
  }
  .contacts-footer__link:hover {
    color: #484848;
  }
  .menu-footer__link:hover {
    color: #484848;
  }
  .button:hover {
    color: #020202;
    background-color: #d8d8d8;
  }
  .button-prew:hover, .button-next:hover {
    background-color: #d8d8d8;
  }
  .button-search:hover::before {
    color: #484848;
  }
  .subscribe__input:hover {
    box-shadow: 0rem 0rem 0.3125rem 0.0625rem #DDD7DA;
  }
  .filter__date:hover {
    transition: color 0.4s;
    color: #020202;
  }
  .filter__date:hover .input-date::placeholder {
    color: #020202;
    transition: color 0.4s;
  }
  .item-interesting:hover {
    box-shadow: 0rem 1.25rem 1.25rem 0rem rgba(0, 0, 0, 0.1);
  }
  .item-interesting:hover .item-interesting__info {
    background-color: #fff;
    opacity: 1;
    visibility: visible;
  }
  .item-interesting:hover .item-interesting__info .item-interesting__quote {
    rotate: 0deg;
    translate: 0rem 0rem;
  }
  .item-interesting:hover .item-interesting__title, .item-interesting:hover .item-interesting__text {
    translate: 0;
    opacity: 1;
  }
  .item-interesting__link:hover::after {
    width: 100%;
  }
  .item-why:hover .item-why__link {
    text-shadow: 0rem 0.0625rem 0.625rem #020202;
  }
  .item-why__link:hover::before {
    width: 100%;
  }
  .partners__link:hover {
    scale: 1.1;
  }
  .item-reviews:hover .item-reviews__picture {
    scale: 1.05;
  }
  .item-reviews__link:hover::before {
    rotate: Y 0deg;
  }
}
@media (any-hover: none){
  .item-interesting {
    box-shadow: 0rem 1.25rem 1.25rem 0rem rgba(0, 0, 0, 0.1);
  }
  .item-interesting .item-interesting__info {
    background-color: #fff;
    opacity: 1;
    visibility: visible;
  }
  .item-interesting .item-interesting__info .item-interesting__quote {
    rotate: 0deg;
    translate: 0rem 0rem;
  }
  .item-interesting .item-interesting__title, .item-interesting .item-interesting__text {
    translate: 0;
    opacity: 1;
  }
}